.title>h3 {
    text-align: center;
}

.flex-item {
    background-color: rgb(255, 0, 195);
    color: white;
    width: 100px;
    height: 80px;
    text-align: center;
    margin: 20px;
    padding: 25px;
    box-shadow: 10px 10px 12px gray;

}

.flex-container {
    display: flex;
    flex-direction: row;
    box-shadow: 10px 10px 12px gray;
    height: 500px;
    gap: 130px;
    

}