.impact {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 20px;
    margin-bottom: 15px;
    
}
.cursive{
    font-family: cursive;
    letter-spacing: 2px;
    font-size: 150%;
    font-weight:690;
    line-height: 2;
}